*{
  box-sizing: border-box;
}

html,body{
  height: 100%;
}

body{
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-lg{
  max-width: 1824px;
  margin: 0 auto;
}
.img-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

